{{model.kottan.name}}

<ul>
{{#each model.pokemons as |pokemon| }}
  <li>
    {{#like-button onLike=(route-action 'like' pokemon)}}
      {{pokemon-badge pokemon=pokemon}}
    {{/like-button}}
  </li>
{{/each}}
</ul>

{{outlet}}
